{% extends 'website/base.html' %}
{% load static %}

{% block main %}
    <div class="row row-space">
        <div class="col-6">
            <p>{{ linha1coluna1 }}</p>
        </div>
        <div class="col-6">
            <p>{{ linha1coluna2 }}</p>
        </div>
    </div>
    <div class="row row-space">
        <div class="col-4">
            <p>{{ linha2coluna1 }}</p>
        </div>
        <div class="col-4">
            <img src="{% static 'img/parking_pic.jpg' %}" class="img-fluid" alt="Estacionamento 24 horas">
        </div>
        <div class="col-4">
            <p>{{ linha2coluna2}}</p>
        </div>
    </div>
    <div class="row row-space">
        <div class="col-6">
            <p>{{ linha3coluna1 }}</p>
        </div>
        <div class="col-6">
            <p>{{ linha3coluna2}}</p>
        </div>
    </div>
{% endblock %}
