<div class="row row-space">
    <div class="col-12">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Serviços</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sobre</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Planos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contatos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sistema</a>
            </li>
        </ul>
    </div>
</div>
