<style>
    .test {
        color: red;
    }
</style>

<h1 class="test">Relatorio de Movimento Rotativo</h1>
<table>
  <tr>
    <td>Id</td>
    <td>Check-In</td>
    <td>Check_Out</td>
    <td>Valor/Hora</td>
    <td>Veiculo</td>
    <td>Pago</td>
  </tr>

  {% for movrotativo in movrotativos %}
      <tr>
        <td>{{ movrotativo.id }}</td>
        <td>{{ movrotativo.checkin }}</td>
        <td>{{ movrotativo.checkout }}</td>
        <td>{{ movrotativo.valor_hora }}</td>
        <td>{{ movrotativo.veiculo }}</td>
        <td>{{ movrotativo.pago }}</td>
      </tr>
  {% endfor %}
</table> 