{% extends 'base.html' %}
{% load bootstrap %}

{% block menu %}
    <ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link active dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Serviços</a>
        <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'core_lista_pessoas' %}">Pessoas</a>
        <a class="dropdown-item" href="{% url 'core_lista_veiculos' %}">Veículos</a>
        <a class="dropdown-item" href="{% url 'core_lista_movrotativos' %}">Rotativos</a>
        <a class="dropdown-item" href="{% url 'core_lista_mensalistas' %}">Mensalistas</a>
        <a class="dropdown-item" href="{% url 'core_lista_movrotativos' %}">Movimentos Rotativos</a>
        <a class="dropdown-item" href="{% url 'core_lista_movmensalistas' %}">Movimento Mensalistas</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="">Logout</a>
    </li>
    </ul>
{% endblock %}

{% block  main %}

    <div class="row">
        <div class="col-12">
            <h2>Updating Mensalista: {{ mensalista }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <form action="{% url 'core_mensalista_update' mensalista.id %}" method="POST">
                {% csrf_token %}

                {{ form|bootstrap }}

                <button type="submit" class="btn btn-primary">Salvar</button>
                <a href="{% url 'core_mensalista_delete' mensalista.id %}" class="btn btn-danger">Deletar</a>
            </form>
        </div>
    </div>
{% endblock %}